<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #ffeeee;">
    <h1>カート</h1>

    <?php if($loginOk === true){ ?>
    <div>ようこそ！ <?= $userName ?> 様</div>
    <a href="logout.php">ログアウト</a>
    <?php } else { ?>
    <a href="login.php">ログイン</a>
    <?php } ?>

    <ul>
        <li>
            <a href="top.php">トップページへ戻る</a>
        </li>
    </ul>

</body>
</html>
