<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ヘルプ</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="fixed w-full top-0 z-50">
      <div
        class="w-full bg-neutral-100 py-4 px-4 flex justify-between items-center shadow-md"
      >
        <a
          href="index.php"
          class="hover:opacity-70 duration-300 flex flex-col items-center"
        >
          <img src="../photo/logo.png" class="h-12" />
          <p class="text-xs">器具専門</p>
        </a>
        <div class="flex gap-4 items-center">
          <?php if($loginOk === true){ ?>
          <div class="text-end">
            ようこそ！
            <?= $userName ?>
            様
          </div>
          <?php } ?>

          <?php if ($loginOk === true){ ?>
          <div class="flex items-center gap-4">
            <div
              class="bg-neutral-800 hover:bg-neutral-500 duration-300 rounded-lg h-8 flex items-center"
            >
              <a href="logout.php" class="text-white px-6">ログアウト</a>
            </div>
            <?php if ($isAdmin === true){ ?>
            <div
              class="bg-neutral-800 hover:bg-neutral-500 duration-300 rounded-lg h-8 flex items-center"
            >
              <a href="adm_menu.php" class="text-white px-6">管理画面</a>
            </div>
            <?php } ?>
          </div>
          <?php } else { ?>
          <div class="flex items-center gap-6 px-8">
            <div
              class="bg-neutral-800 hover:bg-neutral-500 duration-300 rounded-lg h-8 flex items-center"
            >
              <a href="login.php" class="text-white px-6">ログイン</a>
            </div>
            <div class="hover:opacity-70 duration-300">
              <a href="entry.php">新規登録</a>
            </div>
          </div>
          <?php } ?>
        </div>
      </div>
    </div>

    <div class="min-h-screen min-w-screen bg-neutral-100 flex flex-col justify-center">
      <div class="pb-8 px-48">
        <a href="index.php" class="text-blue-500 hover:underline">トップページへ戻る</a>
      </div>
      <div
        class="flex gap-12 flex-wrap items-start justify-center"
      >
        <div class="w-1/4 flex flex-col gap-8 p-7 bg-white shadow-md h-full">
          <h1 class="font-bold">
            Webユーザビリティ、参考にしたオンラインショップの特長、売れることの関連性
          </h1>
          <p class="text-base">
            オンラインショップは、知名度の高いAmazon、Yahooショッピング、メルカリの3つを調査した。
            これらのサービスは知らない人は少ない上、利用者が多く売り上げが多いことが見込まれるためこれらを選択した。
            まず、Amazonは圧倒的な品数があり、それらを絞り込む機能が充実している。このことから、ユーザーは目的の商品を
            見つけやすく、圧倒的な購入体験を提供していると考えられる。また、商品詳細や、レビューも充実していることから
            ユーザは購入のために必要な情報を容易に入手し、購入への決め手となっていると考えられる。
            デザイン的な面では、参考にしたすべてのサイトが商品一覧にリスト形式ではなくカード形式を採用しており、
            画像と商品概要を似た比率で表示することで一覧性を高め、画面上の領域を有効活用でき、レスポンシブデザインにも
            対応しやすくなり、多くのユーザに利用してもらえることが推測できる。
            また、Yahooショッピングやメルカリは、検索バーやカートなどが含まれているfixedされた要素があり、
            ユーザが起こしたいアクションを直ちに起こすことができ、すぐれたショッピング体験を提供していると考察できる。
          </p>
        </div>

        <div class="w-1/4 flex flex-col gap-8 p-7 bg-white shadow-md">
          <h1 class="font-bold">
            自分のオンラインショップに取り入れた特長とターゲット層
          </h1>
          <p class="text-base pb-12">
            Amazonのような膨大なレビューや商品情報を用意するのはかなりの労力が必要なため、
            カード型の商品一覧、fixedされた検索やカートなどの要素をトップページに取り入れた。
            また、ユーザーが直感的に操作できるように、シンプルで分かりやすいナビゲーションを採用し、
            商品の詳細ページには高解像度の画像や詳細な説明文を掲載することで、ユーザーが安心して購入できるように配慮した。
            ターゲット層としては、コーヒーの勉強を始めたばかりの初心者から、さまざまな器具を駆使し、
            自分なりのコーヒーの楽しみ方を見つけた上級者まで、コーヒーを愛する全ての人をターゲットとした。
            そのため、老若男女誰でも使えるインターフェースを目標としてデザインを進めた。
            ヘッダーや管理画面などは、完全なレスポンシブデザインには対応することはできなかったが、
            商品一覧はカード型を採用したため、メディアクエリを用いてスタイルを調整することでレスポンシブデザインに対応できそうだ。
            それにより、ターゲット層にスマートフォンからも快適なショッピングを提供したい。
          </p>
        </div>

        <div class="w-1/4 flex flex-col gap-8 p-7 bg-white shadow-md">
          <h1 class="font-bold">
            取り扱う商品と選んだ理由
          </h1>
          <p class="text-base pb-24">
            キャラバンサライは金沢市に根付いたコーヒーショップであり、自家焙煎のコーヒー豆やリキッドコーヒー、ドリップパックなど
            さまざまな形のおいしいコーヒーを販売している。そして、飲料だけでなくさまざまなコーヒー器具も取り扱っている。
            取り扱いのあるさまざまな商品の中から器具を選択した理由として、キャラバンサライにはオリジナルの器具があるものの、
            公式のオンラインショップではトップページに載せられることが少なく、あまり知られていないため、地元金沢の人々だけでなく、
            観光客などのコーヒー好きに知ってもらいたいと考えたからだ。
            また、キャラバンサライの器具は初心者から上級者まで幅広い層に対応しており、誰でも簡単に美味しいコーヒーを淹れることができる器具が多く販売されている。
            そのため、コーヒーを始めたばかりの人にも、自分なりのコーヒーの楽しみ方を見つけた上級者にも満足してもらえる商品となっている。
            これらの理由から、キャラバンサライの器具を取り扱うことに決めた。
            
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
