<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
	<meta charset="utf-8">
	<link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="../common/css/main.css" rel="stylesheet" type="text/css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-neutral-100 flex flex-col items-center justify-center min-h-screen">
	<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
		<div class="mb-6 text-start">
			<a href="index.php" class="text-indigo-500 hover:underline mb-12 text-start">トップページへ戻る</a>
		</div>
		<h1 class="text-2xl font-bold text-center">ログイン</h1>
		<p class="text-center pb-8">(全ユーザ共通)</p>

		<form action="login.php" method="post">
			<div class="mb-4">
				<label for="login_id" class="block text-gray-700">メールアドレスまたはID</label>
				<input type="text" id="login_id" name="login_id" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" value="">
				<span class="text-red-500 text-sm"><?= isset($arrErr['login_id']) ? $arrErr['login_id'] : "" ?></span>
			</div>
			<div class="mb-4">
				<label for="login_pass" class="block text-gray-700">パスワード</label>
				<input type="password" id="login_pass" name="login_pass" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" value="">
				<span class="text-red-500 text-sm"><?= isset($arrErr['login_pass']) ? $arrErr['login_pass'] : "" ?></span>
			</div>
			<span class="text-red-500 text-sm block mb-4"><?= isset($arrErr['common']) ? $arrErr['common'] : "" ?></span>
			<div class="flex items-center justify-between">
				<input type="submit" value="ログイン" class="bg-indigo-600 hover:bg-indigo-500 text-white px-4 py-2 rounded-md w-full duration-300">
				<input type="hidden" name="step" value="1" />
			</div>
		</form>
	</div>
</body>
</html>
